USE [Electronic]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderAddress]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAddress](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[Address] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[PaymentMode] [nvarchar](10) NULL DEFAULT ('COD'),
	[OrderDate] [datetime] NULL DEFAULT (getdate()),
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[CategoryID] [int] NULL,
	[SubCategoryID] [int] NULL,
	[ProductName] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[IsBlocked] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[IsDeal] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[VendorID] [int] NULL,
	[SubCategoryName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[IsApproved] [bit] NULL DEFAULT ((1)),
	[IsBlocked] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[EmailOTP] [nvarchar](6) NULL,
	[OTPExpiry] [datetime] NULL,
	[IsSetupComplete] [bit] NULL DEFAULT ((0)),
	[EmailVerified] [bit] NULL DEFAULT ((0)),
	[ResendCount] [int] NULL DEFAULT ((0)),
	[LastOTPTime] [datetime] NULL,
	[LoginAttempts] [int] NULL DEFAULT ((0)),
	[LockUntil] [datetime] NULL,
	[ApprovalStatus] [nvarchar](20) NULL DEFAULT ('Pending'),
	[AdminRemark] [nvarchar](255) NULL,
	[OTP] [nvarchar](10) NULL,
	[IsVerified] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendorApprovalHistory]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorApprovalHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[Action] [nvarchar](20) NULL,
	[Remark] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VendorID] [int] NOT NULL,
	[ShopName] [nvarchar](150) NULL,
	[GSTNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[DocumentPath] [nvarchar](255) NULL,
	[LogoPath] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 2/10/2026 3:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [CreatedAt], [ImagePath]) VALUES (1, N'Laptop & Computer', 1, CAST(N'2026-02-01 19:32:55.020' AS DateTime), N'35647072-5992-4f0f-b6a5-53459827d905.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [CreatedAt], [ImagePath]) VALUES (2, N'Smartphone', 1, CAST(N'2026-02-02 15:49:14.250' AS DateTime), N'4774d0e9-cb49-49a2-b70a-ea43fbc047e8.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [CreatedAt], [ImagePath]) VALUES (1002, N'Home Appliances', 1, CAST(N'2026-02-02 21:43:54.647' AS DateTime), N'3875dc30-ec24-4d24-abb3-8a53666eb01e.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[OrderAddress] ON 

INSERT [dbo].[OrderAddress] ([AddressID], [OrderID], [Address], [City], [State], [Pincode]) VALUES (1, 1, N'A-262 azad nagar bhilwara kumbha circle', N'Bhilwara', N'Rajasthan', N'311001')
INSERT [dbo].[OrderAddress] ([AddressID], [OrderID], [Address], [City], [State], [Pincode]) VALUES (3, 3, N'A-262 azad nagar bhilwara kumbha circle', N'Bhilwara', N'Rajasthan', N'311001')
INSERT [dbo].[OrderAddress] ([AddressID], [OrderID], [Address], [City], [State], [Pincode]) VALUES (4, 4, N'A-262 azad nagar bhilwara kumbha circle', N'Bhilwara', N'Rajasthan', N'311001')
SET IDENTITY_INSERT [dbo].[OrderAddress] OFF
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 4002, 3, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 3, 4002, 1, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 4, 2004, 1, CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [VendorID], [TotalAmount], [OrderStatus], [PaymentMode], [OrderDate], [UserID]) VALUES (1, 2, CAST(750.00 AS Decimal(10, 2)), N'Delivered', N'COD', CAST(N'2026-02-07 16:45:57.623' AS DateTime), 4)
INSERT [dbo].[Orders] ([OrderID], [VendorID], [TotalAmount], [OrderStatus], [PaymentMode], [OrderDate], [UserID]) VALUES (3, NULL, CAST(250.00 AS Decimal(10, 2)), N'Cancelled', N'COD', CAST(N'2026-02-07 17:45:50.857' AS DateTime), 4)
INSERT [dbo].[Orders] ([OrderID], [VendorID], [TotalAmount], [OrderStatus], [PaymentMode], [OrderDate], [UserID]) VALUES (4, NULL, CAST(150.00 AS Decimal(10, 2)), N'Cancelled', N'COD', CAST(N'2026-02-07 17:47:36.800' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImagePath]) VALUES (2002, 2002, N'25b8b9d5-e865-4d50-beca-a1bfcde4753c.jpg')
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImagePath]) VALUES (2003, 2002, N'5f953cc8-c5ed-45b7-b68b-e004c407b004.jpg')
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImagePath]) VALUES (2004, 2003, N'd37d4e37-59fc-45f2-928a-6d834906ffca.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [VendorID], [CategoryID], [SubCategoryID], [ProductName], [Description], [Price], [Stock], [IsBlocked], [CreatedAt], [IsDeal]) VALUES (2002, 2, 1, 1002, N'24‑Mac with Apple M1 chip', N'', CAST(200.00 AS Decimal(10, 2)), 26, 0, CAST(N'2026-02-02 22:12:30.307' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [VendorID], [CategoryID], [SubCategoryID], [ProductName], [Description], [Price], [Stock], [IsBlocked], [CreatedAt], [IsDeal]) VALUES (2003, 2, 1, 1002, N'Mac mini M2 2023', N'', CAST(350.00 AS Decimal(10, 2)), 15, 0, CAST(N'2026-02-02 22:14:41.033' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [VendorID], [CategoryID], [SubCategoryID], [ProductName], [Description], [Price], [Stock], [IsBlocked], [CreatedAt], [IsDeal]) VALUES (2004, 2, 1, 1002, N'Mac Gen 8 Wi-Fi 1TB', N'', CAST(150.00 AS Decimal(10, 2)), 10, 0, CAST(N'2026-02-02 22:17:36.233' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [VendorID], [SubCategoryName], [IsActive], [CreatedAt]) VALUES (1002, 1, 2, N'Apple', 1, CAST(N'2026-02-02 22:10:28.203' AS DateTime))
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [VendorID], [SubCategoryName], [IsActive], [CreatedAt]) VALUES (2002, 2, 2, N'Apple', 1, CAST(N'2026-02-03 16:15:48.160' AS DateTime))
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [VendorID], [SubCategoryName], [IsActive], [CreatedAt]) VALUES (3002, 1003, 2, N'Apple', 1, CAST(N'2026-02-04 17:07:17.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [IsApproved], [IsBlocked], [CreatedAt], [EmailOTP], [OTPExpiry], [IsSetupComplete], [EmailVerified], [ResendCount], [LastOTPTime], [LoginAttempts], [LockUntil], [ApprovalStatus], [AdminRemark], [OTP], [IsVerified]) VALUES (1, N'Admin', N'System Admin', N'admin@test.com', N'9999999999', N'123456', 1, 0, CAST(N'2026-01-31 21:58:43.347' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [IsApproved], [IsBlocked], [CreatedAt], [EmailOTP], [OTPExpiry], [IsSetupComplete], [EmailVerified], [ResendCount], [LastOTPTime], [LoginAttempts], [LockUntil], [ApprovalStatus], [AdminRemark], [OTP], [IsVerified]) VALUES (2, N'Vendor', N'Rajesh Sahu', N'rajeshsahu3406@gmail.com', NULL, N'Raju@123', 1, 0, CAST(N'2026-02-01 06:20:23.983' AS DateTime), NULL, NULL, 1, 1, NULL, NULL, 0, NULL, N'Approved', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [IsApproved], [IsBlocked], [CreatedAt], [EmailOTP], [OTPExpiry], [IsSetupComplete], [EmailVerified], [ResendCount], [LastOTPTime], [LoginAttempts], [LockUntil], [ApprovalStatus], [AdminRemark], [OTP], [IsVerified]) VALUES (4, N'Client', N'Anshul', N'sonianshul9079@gmail.com', NULL, N'Anshul@123', 1, 0, CAST(N'2026-02-06 17:34:00.777' AS DateTime), NULL, NULL, 1, 1, 0, NULL, 0, NULL, N'Pending', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[VendorApprovalHistory] ON 

INSERT [dbo].[VendorApprovalHistory] ([HistoryID], [VendorID], [Action], [Remark], [ActionDate]) VALUES (1, 2, N'Block', NULL, CAST(N'2026-02-01 07:41:43.703' AS DateTime))
INSERT [dbo].[VendorApprovalHistory] ([HistoryID], [VendorID], [Action], [Remark], [ActionDate]) VALUES (2, 2, N'Unblock', NULL, CAST(N'2026-02-01 07:41:45.070' AS DateTime))
INSERT [dbo].[VendorApprovalHistory] ([HistoryID], [VendorID], [Action], [Remark], [ActionDate]) VALUES (3, 2, N'Block', NULL, CAST(N'2026-02-01 07:41:46.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[VendorApprovalHistory] OFF
INSERT [dbo].[VendorDetails] ([VendorID], [ShopName], [GSTNumber], [Address], [DocumentPath], [LogoPath], [CreatedAt]) VALUES (2, N'Radhe Computers', N'A12WO805', N'purana Bhilwara', N'a94c6153-5998-491e-b9c0-2a747aa7c79f.png', N'5072ce8e-5a26-4b85-8dd9-7b46441c742c.png', CAST(N'2026-02-01 07:46:54.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [CreatedAt]) VALUES (1032, 4, 4003, CAST(N'2026-02-09 16:33:52.207' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [CreatedAt]) VALUES (1034, 4, 2004, CAST(N'2026-02-09 17:40:35.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
